*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}


.full-page{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    font-size: 40px;
}
.page-1{
    background-color: skyblue;
    background-image: url(../img/01.png);
    color: red;
}
.page-2{
    background-color:tomato;
    background-image: url(../img/02.png);
    color: goldenrod;
}
.page-3{
    background-color:wheat;
    background-image: url(../img/03.png);
    color:darkred ;
}
.title-page{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}
#main-menu{
    z-index: 1;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    }
#main-menu li{
    border-radius: 50px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
}
#main-menu a{
    background-color: white;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#main-menu a:hover{
    color: white;
    background-color: teal;
    transform: scale(1.8);


}
